<div class="container my-5">
    <h1 class="mb-3">Users</h1>

    <table class="table" *ngIf="users && users.length > 0">
        <thead>
            <tr>
                <th>Id</th>
                <th>Username</th>
                <th>Email</th>
                <th>First name</th>
                <th>Last name</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let user of users">
                <td>{{user.id}}</td>
                <td>{{user.username}}</td>
                <td>{{user.email}}</td>
                <td>{{user.firstname}}</td>
                <td>{{user.lastname}}</td>
            </tr>
        </tbody>
    </table>
    <p *ngIf="!users || users.length <= 0">No users found!</p>
</div>